# AWS to get into S3 & for codeartifact
export AWS_REGION=us-east-1
export AWS_PROFILE=dev
aws configure list &> /dev/null || aws sso login

# CodeArtifact private PyPI
export POETRY_HTTP_BASIC_WAYMARK_USERNAME=aws
export POETRY_HTTP_BASIC_WAYMARK_PASSWORD=$(aws codeartifact get-authorization-token --domain waymark --domain-owner 304275673143 --region us-east-1 --query authorizationToken --output text)

# Set up vault to get access to local env resources
source ~/.envs/vault-prod.sh

# App env vars
export ENV=local
# This is AWS profile for dataeng local setup, which is configured to use minio for all AWS commands.
export AWS_PROFILE=local-dataeng
export CORE_DB_DSN=postgresql://postgres:postgres@localhost:5432/waymark-core-db
export CORE_DB_RW_DSN=postgresql://postgres:postgres@localhost:5432/waymark-core-db
export APP_DB_DSN=postgresql://postgres:postgres@localhost:5432/lighthouse_db
export CLAUDE_API_KEY="$(vault kv get -format=json -mount=shared -field=CLAUDE_API_KEY ctm-demo-ai-tools/devl | jq --raw-output)"
export MANUAL_UPLOAD_S3_BUCKET=wm-raw-data-local

# Use the Taskfile shortcuts to run the app connected to a remote AWS
# Environment. NOTE: You will be using the localdev oauth for this setup which
# should have the same permissions as dev/prod, but may differ slightly.

# Some pages require some nomad stuff.
source ~/.envs/hashistack-dev.sh

# Python setup
layout poetry

# Any local overrides
source_env_if_exists .envrc.local
